p {
    margin:0px;
}

#home-box {
    display:flex;
    height:100%;
}

#sidebox {
    display:flex;
    flex:1;
    z-index: 1;
    flex-direction: column; 
    font-size: x-large;
    background-color: #222;
    color:white;
    box-shadow: 3px 0 10px -2px grey;
}

#navbar {
    height: 100%;
    flex:9;
    display:flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: flex-start;
}

#nav-header {
    flex:1;
    display:flex;
    /* flex-direction: column; */
    justify-items: center;
    align-items: center;
    margin-bottom:5%;
}

#knug-header {
    max-width: 75%;
    margin-left:10%;
    margin-right:10%;
}

#navboxes {
    flex:5;
    display:flex;
    flex-direction:column;
    overflow-y: auto;
    min-width: fit-content;
}

#content-box {
    flex:5;
    height:100%;
}

#content-wrapper {
    display:flex;
    height:100%;
}

#search-bar-wrapper {
    flex:2;
    display:flex;
    min-height:50px;
    border-bottom: 1px solid #cfcfcf;
}

#search-bar {
    font-size: 12pt;
    flex:1;
    position:relative;
    z-index: 1;
    border:none;
    max-height:50%;
    min-height:40%;
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    box-shadow: 0 0 15px -5px #cfcfcf;
}

#search-bar:focus-visible {
    outline:none;
}

#selection-box {
    display:flex;
    flex-direction: column;
}

#new-item-selection {
    flex:1;
    min-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
}

#train-button-wrapper {
    flex:1;
    display:flex;
    justify-content: center;
}

#log-out-wrapper {
    flex:1;
    display:flex;
    justify-content: center;
}

.navbox {
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex:1;
    max-height: 80px;
    margin-top:2%;
    margin-left:5%;
    margin-right:5%;
    padding-left:15%;
    padding-right:15%;
    cursor: pointer;
    font-size: x-large;
    border-radius:100px;
}

.navbox:hover {
    font-weight: bold;
}

.selected {
    font-weight: bold;
    background-color: #383838;
}

.selection-wrapper {
    flex:18;
    overflow: auto;
}

.selection {
    cursor: pointer;
    flex:1;
    display:flex;
}

.inner-selection {
    flex:1;
    display:flex;
    min-height: 75px;
    align-items: center;
    font-size:large;
    height:100%;
    margin-left:3%;
    margin-right:3%;
    padding: 2%;
    border-bottom: 1px solid #cfcfcf;
}

.selection-option {    
    background-color: #ececec;
}

.selection-option:hover {
    background-color: #dfdfdf;
}

.selected-option {
    font-weight: bold;
    background-color: #bfbfbf;
    color:#222;
}

.selection-title-box {
    flex:8;
    display:flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
}
.selection-title {
    font-weight: bold;
}

.selection-name {
    font-size:smaller;
}

.arrow {
    flex:1;
    cursor: pointer;
    margin-right: 5%;
}

.button {
    
    border-radius: 10px;
    margin-left:3%;
    max-height: 50%;
    max-width:50%;
    min-width: fit-content;
    min-height: fit-content;
    height:4vh;
    padding:4%;
    display:flex;
    align-items: center; 
    justify-content: center; 
}

.non-selectable {
    background-color: #dcdcdc;
    cursor: default;
}

.save-button {
    box-shadow: 0 0 8px grey;
    background-color: #3D58f8;
    border:none;
    color:white;
    cursor: pointer;
    align-self: flex-end;
    margin-left:none;
    margin-right:9%;
    font-size: 14pt;
}

.save-button:hover {
    background-color:#1D28c8;
}

.save-button:active {
    box-shadow: 0 0 8px black;
}

.delete-button {
    box-shadow: 0 0 8px grey;
    font-size:20pt;
    background-color: #e52222;
    color:white;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c51212;
}

.delete-button:active {
    box-shadow: 0 0 8px black;
}

.log-out-button {
    flex:1;
    cursor:pointer;
    align-self:flex-end;
    margin-right:3%;
    margin-bottom:5%;
    padding: 3% 15% 3% 15%;
    background-color:#383838;
    border:none;
}

.log-out-button:hover {
    background-color: #484848;
}

.log-out-button:active {
    font-weight:bold;
}

.train-button {
    flex:1;
    align-self:flex-end;
    padding: 3% 15% 3% 15%;
    margin-bottom:2%;
    margin-right:3%;
}

.trained {
    background-color: #07882c;
    color:white;
    cursor: default;
}

.training {
    background-color: #df8500;
    cursor: default;
}

.need-training {
    
    background-color: #d52222;
    color:white;
    cursor: pointer;
}

.need-training:hover {
    background-color: #b51212;

}

.need-training:active {
    font-weight: bold;
}

.plus-select {
    flex:1;
    font-weight: bold;
    font-size: xx-large;
    margin-right: 5%;
    cursor: pointer;
}

.plus {
    display:flex;
    flex: 1;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 25pt;
    border-radius:50%;
    background-color: #3D58f8;
    color:#fff;
    min-width: 40px;
    min-height: 40px;
    max-height:40px;
    box-shadow: 0 4px 12px grey;
    cursor: pointer;
    font-weight: bold;
    margin-left: 15%;
    margin-top:-3%;
    margin-bottom:3%;
}

.plus:hover {
    background-color: #1D28c8;
}

.plus:active {
    box-shadow: 0 2px 8px black;
}