#tag-and-type-selection {
    display:flex;
    flex:2;
    border-right: 1px solid black;
}

#type-selection {
    flex:1;
    border-right: 1px solid black;
}

#tag-selection {
    flex:1;
    display:flex;
    flex-direction: column; 
}

#tag-selection-header {
    height:10%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#tag-content-body {
    display:flex;
    flex-direction: column;
    flex:3;
    overflow:auto;
}

#tag-content {
    height:88%;
}

#tag-name {
    display: block;
}

#tag-label {
    display: block;
}

.tag-section-title {
    flex:1;
}

.new-tag-text {
    flex:7;
}

.invalid {
    box-shadow: 0 0 0 2px red;
}