#tag-and-type-selection {
    display:flex;
    flex:2;
    z-index: 0;
    background-color:#ececec;
    box-shadow: 5px 0 20px -3px #d5d5d5;
}

#type-selection {
    display:flex;
    flex-direction: column; 
    flex:1;
    z-index: 0;
    background-color:#ececec;
    box-shadow: 5px 0 20px -3px #d5d5d5;
}

#tag-selection {
    display:flex;
    flex-direction: column; 
    flex:1;
    z-index: -1;
    background-color:#ececec;
    box-shadow: 5px 0 20px -3px #d5d5d5;
}

#tag-selection-header {
    flex:1;
    display:flex;
    margin-top:4%;
}

#tag-title {
    display:flex;
    flex:4;
    flex-direction: column;
}

#tag-name {
    margin-left: 3%;
}

#tag-label {
    flex:1;
    align-self: flex-start;
    font-weight: bold;
    font-size:x-large;
    margin-left:3%;
    max-height: 45px;
}

#tag-save {
    flex:2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#tag-delete {
    flex:1;
    display:flex;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    align-self: flex-end;
    min-width:30%;
    margin-bottom:5%;
}

#tag-delete-button {
    font-size:18pt;
    min-width: 80%;
    max-width:100%;
    align-self: flex-end;
}

#tag-content-body {
    display:flex;
    flex-direction: column;
    flex:3;
    overflow:auto;
}

#tag-content {
    flex:6;
    display:flex;
    flex-direction: column;
}

#tag-type-display {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#type-label {
    flex:1;
    align-self: flex-start;
    max-height: 50px;
    margin-left: 2.2%;
    font-weight: bold;
    font-size:x-large;
}

#tag-type {
    flex:1;
    margin-left:2.2%;
    align-self: flex-start;
    min-width:50%;
    max-width: 80%;
}

#add-tag-button {
    position: -webkit-sticky;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 40pt;;
    bottom:3%;
    left:70%;
    position:sticky;
    border-radius:50%;
    background-color: #3D58f8;
    color:#fff;
    width: 75px;
    height: 75px;
    box-shadow: 0 2px 12px grey;
    cursor: pointer;
}

#add-tag-button:hover {
    background-color: #1D28c8;
}

#add-tag-button:active {
    box-shadow: 0 2px 8px black;
}

.type-section-title {
    width:100%;
    display: flex;
    flex:3;
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
    font-size: 33pt;
    border-bottom: 1px solid #cfcfcf;
}

.tag-section-title {
    width:100%;
    margin-top:3%;
    display: flex;
    flex:3;
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
    font-size: 33pt;
    
}

.new-tag-text {
    flex:7;
}

.invalid {
    box-shadow: 0 0 0 2px red;
}