#tag-selection-wrapper {
    display:flex;
    flex:2;
    border-right: 1px solid black;
}

#type-selection {
    flex:1;
    border-right: 1px solid black;
}

#tag-selection {
    flex:1;
    overflow: auto;
}

#content {
    display:block;
    flex:3;
    overflow:auto;
}

#new-tag-selection {
    height: 12%;
    display: flex;
    align-items: center;
    text-align: center;
}

#tag-content {
    height:88%;
}

#tag-name {
    display: block;
}

#tag-label {
    display: block;
}

.new-tag-text {
    flex:7;
}

.invalid {
    box-shadow: 0 0 0 2px red;
}