#contact-selection {
    display:flex;
    flex-direction: column; 
    flex:1;
    border-right: 1px solid black;
}

#contact-content-body {
    display:flex;
    flex-direction: column;
    flex:3;
    overflow:auto;
}

#contact-selection-header {
    flex:1;
    display:flex;
    justify-content: left;
    align-content: left;
}

#contact-buttons {
    flex:1;
    display: flex;
    flex-direction: column;
}

#contact-title-header {
    display:flex;
    flex:6;
    flex-direction: column;
    justify-content: left;
    align-content: left;
}

#contact-save {
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
}

#contact-delete {
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
}

#contact-label {
    flex:2;
    margin-top:2%;
    font-weight: bold;
    font-size:x-large;
    max-height:5%;
}

#contact-name {
    
    margin-left: 2%;
    flex:1;
    min-height: 3%;
    max-height:5%;
}

#contact-email-label {
    margin-top:2%;
    flex:2;
    font-weight: bold;
    font-size:x-large;
    max-height:5%;
}

#contact-email {
    margin-left: 2%;
    flex:1;
    min-height: 3%;
    max-height:5%;
}

#contact-departments-label {
    margin-top:2%;
    flex:2;
    font-weight: bold;
    font-size:x-large;
    max-height:5%;
}

#contact-departments-wrapper {
    margin-left: 2%;
    flex:10;
    max-height: 30%;
    overflow: auto;
}

#contact-departments-box {
    display:flex;
    flex-direction: column;
    align-items: center;  
    
}

#contact-title-label {
    margin-top:2%;
    flex:2;
    font-weight: bold;
    font-size:x-large;
    max-height:5%;
}

#contact-title {
    margin-left: 2%;
    flex:1;
    min-height: 3%;
    max-height:5%;
}

#contact-content {
    flex:1;
    display:flex;
    flex-direction: column;
}

.contact-plus{
    margin-left:50%;
}

.new-contact-text {
    flex:7;
}

.contact-department {
    flex:1;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    min-width: 60%;
    display:flex;
    margin-top:2%;
}

.contact-department-select {
    flex: 10;
}

.contact-department-delete {
    color: red;
    display:flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size:x-large;
    cursor:pointer;
    flex:1;
    min-width:5%;
    max-width:10%;
    border:solid 1px black;

}

.contact-department-delete:hover {
    background-color:#ccc;
}

.contact-department-delete:active {
    background-color:#aaa;
}