#user-selection {
    display:flex;
    flex-direction: column; 
    flex:1;
    z-index: 0;
    background-color:#ececec;
    box-shadow: 5px 0 20px -3px #d5d5d5;
}

#user-content-body {
    display:flex;
    flex-direction: column;
    flex:3;
    overflow:auto;
}

#add-user-button {
    position: -webkit-sticky;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 40pt;;
    bottom:3%;
    left:70%;
    position:sticky;
    border-radius:50%;
    background-color: #3D58f8;
    color:#fff;
    width: 75px;
    height: 75px;
    box-shadow: 0 2px 12px grey;
    cursor: pointer;
}

#add-user-button:hover {
    background-color: #1D28c8;
}

#add-user-button:active {
    box-shadow: 0 2px 8px black;
}

#user-selection-header {
    flex:1;
    display:flex;
    justify-content: left;
    align-content: left;
}

#user-buttons {
    flex:1;
    display: flex;
    flex-direction: column;
}

#user-title {
    display:flex;
    flex:6;
    flex-direction: column;
    justify-content: left;
    align-content: left;
}

#user-save {
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
}

#user-delete {
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
}

#user-label {
    flex:2;
    font-weight: bold;
    font-size:x-large;
}

#user-name {
    margin-left: 2%;
    flex:1;
}

#user-email-label {
    margin-top:2%;
    flex:2;
    font-weight: bold;
    font-size:x-large;
}

#user-email {
    margin-left: 2%;
    flex:1;
}

#user-nid-label {
    margin-top:2%;
    flex:2;
    font-weight: bold;
    font-size:x-large;
}

#user-nid {
    margin-left: 2%;
    flex:1;
}

#user-admin-label {
    margin-top:2%;
    flex:2;
    font-weight: bold;
    font-size:x-large;
}

#user-content {
    flex:1;
    display:flex;
    flex-direction: column;
}
.new-user-text {
    flex:7;
}