#new-question-selection {
    height: 12%;
    display: flex;
    align-items: center;
    text-align: center;
}

#question-content {
    height:88%;
}

#entity-box {
    height:20vh;
}

#entered-fields {
    display:flex;
    height: 80vh;
}

#question-name {
    display: block;
}

#question-label {
    display: block;
}


#contacts-and-forms {
    flex:1;
    height:100%;
}

#patterns-and-responses {
    flex:1;
    height:100%;
}

#response-box {
    height:40%;
}

#patterns-box {
    height:55%;
    overflow: auto;
}

#response {
    width:85%;
    height:70%;
    resize:none;
}

#entities {
    display: flex;
    margin-left:4%;
    margin-right:4%;
}

.section-title {
    width:100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
    font-size: xx-large;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #e0e0e0;
}

.new-question-text {
    flex:7;
}

.response {
    margin:1% 5% 1% 5%;
    display:flex;
    border:1px solid black;
}

.response-text {
    width:75%;
    height:30px;
    flex:6;
}

.pattern {
    margin:1% 5% 1% 5%;
    display:flex;
    border:1px solid black;
}

.pattern-text {
    width:75%;
    height:30px;
    flex:6;
}

.response-delete {
    flex:1;
    height:30px;
    line-height:30px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

.entity-selection-box {
    flex:1;
    margin: 2%;
    display:flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
}

.entity-select {
    width:100%;
}

.field-box {
    display:flex;
    justify-content: center; 
    flex-direction: column; 
    align-items: left; 
}

.field {
    margin:1%;
}

.invalid-combo {
    box-shadow: 0 0 0 2px red;
}

.hide {
    display:none;
}

.show {
    display:block;
    
}

.invalid-tags {
    color:red;
}