#question-selection{
    display:flex;
    flex-direction: column; 
    flex:1;
    border-right: 1px solid black;
}

#question-selection-header {
    flex:1;
    display:flex;
}

#question-content-body {
    display:flex;
    flex-direction: column;
    flex:3;
    overflow:auto;
}

#question-content {
    flex:8;
    display:flex;
    flex-direction: column;
}

#entity-box {
    flex:1;
    display:flex;
    flex-direction: column;
}

#entered-fields {
    display:flex;
    flex:3;
}

#question-title {
    display:flex;
    flex:4;
    flex-direction: column;
}

#question-save {
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
}

#question-delete {
    flex:1;
    display:flex;
    align-items: center;
    justify-content: right;
}

#question-delete-button {
    margin-right:5%;
}

#question-label {
    flex:2;
    font-weight: bold;
    font-size:x-large;
}

#question-name {
    margin-left: 2%;
    flex:1;
}

#contacts-and-forms {
    flex:1;
    display: flex;
    flex-direction: column;
    height:100%;
}

#question-contacts-box {
    flex:1;
    max-height: 25%;
}

#question-documents-box {
    flex:1;
    max-height: 25%;
}

#question-follow-up-box {
    flex:1;
    max-height: 25%;
}

#patterns-and-responses {
    flex:1;
    height:100%;
}

#response-box {
    flex:1;
    min-height: 40%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#patterns-box {
    flex:1;
    min-height: 40%;
    overflow: auto;
}

#response {
    flex:2;
    width:85%;
    resize:none;
}

#entities {
    display: flex;
    margin-left:4%;
    margin-right:4%;
}

.section-title {
    width:100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
    font-size: xx-large;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #e0e0e0;
}

.question-selection-title {
    flex:1;
}

.new-question-text {
    flex:7;
}

.pattern {
    margin:1% 5% 1% 5%;
    display:flex;
    border:1px solid black;
}

.pattern-text {
    height:30px;
    flex:12;
}

.pattern-delete {
    color: red;
    display:flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size:x-large;
    cursor:pointer;
    flex:1;
}

.pattern-delete:hover {
    background-color:#ccc;
}

.pattern-delete:active {
    background-color:#aaa;
}

.entity-selection-box {
    flex:1;
    margin: 2%;
    display:flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
}

.entity-select {
    width:100%;
}

.field-box {
    display:flex;
    justify-content: center; 
    flex-direction: column; 
    align-items: left; 
}

.field {
    margin:1%;
}

.invalid-combo {
    box-shadow: 0 0 0 2px red;
}

.hide {
    display:none;
}

.show {
    display:block;
    
}

.invalid-tags {
    color:red;
}